@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
  position: relative;
  min-height: calc(100vh - 70px);
  top: 70px;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}

.attendance,
.classes,
.courses,
.events,
.grades,
.settings,
.tasks {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.navbar {
    background-color: #060b26;
    outline: none;
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    z-index: 3;
    position: fixed;
}
  
.menu-bars {
    margin-left: 30px;
    font-size: 1.2rem;
    background: none;
}

.searchbar {
    --padding: 6px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 10px;
    background: #f6f6f6;
    margin-left: auto;
    font-size: 1.1rem;
}

.searchbar-input {
    font-size: 17px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
}

.searchbar-input::placeholder {
    color: black;
    font-size: 14px;
}

.notification {
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-profile {
    margin-right: 1.5rem;
    margin-top: 0.10rem;
}

.dropdown-menu-container {
    position: absolute;
    top: 10%;
    right: 1%;
}

.dropdown-menu {
    background: gray;
}

.dropdown-menu.show {
    display: block;
}

.nav-menu {
    background-color: #060b26;
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 2;
}
  
.nav-menu.active {
    left: 0;
    transition: all 0.5s ease;
}
  
.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}
  
.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
  
.nav-text a:hover {
    background-color: #1a83ff;
}
  
.nav-menu-items {
    width: 100%;
}
  
.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
  
span {
    margin-left: 16px;
}

.student-details {
    background: #fff;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.student-details h4 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #1aac83;
}

.student-details p {
    margin: 0;
    font-size: 0.9rem;
    color: #555;
}

.student-details span {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px;
    border-radius: 50%;
    color: #333;
}

.website-name {
    position: relative;
    left: 15px;
    padding: 1rem;
    color: white;
}

.nav-menu.active ~ .home {
    left: 220px;
    width: calc(100% - 220px);
}

label, input {
    display: block;
}

.form-input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background: #1aac83;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid red;
    color: red;
    border-radius: 4px;
    margin: 20px 0;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    text-align: left;
    font-weight: bold;
}

.content-table th {
    color: #f3f3f3;
    padding: 12px 15px;
}
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
}